* {
    padding: 0;
    margin: 0;
}
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
    .card {
        margin-bottom: 20px;
    }
    img {
        height: 150px;
    }
}

body {
    background-color: #fdffe9;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    background-size: cover;
    background-position: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 900;
    color: midnightblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bg-body-tertiary {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

img {
    /* object-fit: cover;
    height: 200px;
    /* width: 100%;
    border-radius: 10px;
}

/* Start Cards */a  
.card {
    margin: 10px auto; 
    transition: transform 0.5s, box-shadow 0.3s;
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: 0.7s;
}
.card-body {
    text-align: center;
    height: 190px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: midnightblue;
}
.card-text {
    font-size: 12px;
    color:black;
}
/* End Cards */

#btn2 {
    position: absolute;
    bottom: 15px;
    right: 90px;
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn2:hover {
    background-color: #e68900;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: midnightblue;
    text-transform: uppercase;
}

.section p {
    font-size: 1rem;
    color: #9680fc;
}

p6{
    color: red;
    position: absolute;
    left: 33px;
    bottom: 14px;
}
p3{
    color: red;
    position: absolute;
    right: 105px;
    bottom: 55px;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #333;
    font-size: 1rem;
}

.carousel-inner img {
    height: 700px;
    width: 100%; 
    /* object-fit: cover; 
    border-radius: 10px;
}

i {
    font-size: 2rem;
    margin: 5px;
}

a {
    text-decoration: none;
    transition: color 0.3s; 
}

a:hover {
    color: #ff9800; 
}

.ri-whatsapp-line {
    color: green;
}

.ri-youtube-fill {
    color: red;
}
